.job-application {

  .page-banner {
    text-align: center;
    height: 340px;
    font-size: 36px;
    color: white;
    background : url('https://previews.123rf.com/images/garagestock/garagestock1701/garagestock170124327/69379485-business-concept-banner-job-application.jpg');
    box-shadow: inset 0 0 0 2000px rgba(84, 117, 228, 0.3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }  

  .container {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 500px;
    .application-form {
      text-align: center;

      .full-name {
        display: flex;
        justify-content: space-between;
        .input {
          width: 49%;
        }
      }
      .input {
        width: 100%;
        margin-bottom: 30px;
      }
      
      .file-upload {
        display: flex;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        // text-align: left;
        .file-label {
          max-width: 400px;
          width: 100%;
        }
      }
      
      button {
        width: 100%;
      }
    }
  
    h1 {
      margin: 60px auto;
      text-align: center;
    }
  }

}